


.wrapper {
    width: 1920px;
    margin: 0 auto;
    border: 2px solid red;
}

/* ------ */



.container1 {
    width: 1920px;
    height: 50px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 64px;
    text-align: center;
    font-family: "Poppins" , sans-serif;
    font-size: 16px;
}

.vhod {
    margin-left: 100px;
}

.span {
    color: #956D84;
}

span {
    margin-left: 10px;
    margin-right: 10px;
}

/* --------------------------------- */

.container2 {
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

.content {
    display: flex;
    gap: 21px;
}

.inputs input {
    border: none;
    font-size: 16px;
    color: #828282;
    font-family: "Poppins" , sans-serif;
    border-bottom: 1px solid #956D84;
}

.inputs2 input {
    border: none;
    font-size: 16px;
    color: #828282;
    font-family: "Poppins" , sans-serif;
    border-bottom: 1px solid #956D84;
}

.inputs {
    margin-top: 52px;
    margin-bottom: 47px;
    
}

.inputs2 {
    width: 580px;
    margin-top: 52px;
    margin-bottom: 47px;
    display: flex; 
}
    .inputs2 img {
    width: 17px;
    margin-top: 53.59;
}

.input1 {
    width: 219px;
    height: 26px;
    margin-right: 40px;
}

.input2 {
    width: 580px;
    height: 26px;
}

.logo  {
    width: 117px;
    height: 120px;
    margin-top: 28px;
    margin-right: 121px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

/* --------------------------------- */

.menu {
    display: flex;
    font-family: "Poppins" , sans-serif;
    gap: 56px;
}

.menu p {
    font-size: 16px;
    font-weight: 800;
} 

.menu img {
    margin-left: -50px;
}

.p-strong {
    color: #956D84;
    word-spacing: 14px;
}

/* --------------------------------- */

.in-container {
    margin-top: 26.08px;

}

.images {
    display: flex;
    gap: 11.65px;
}

.images img {
    margin-top: 27px;
}

.images p {
    margin-bottom: 20px;
}

.images1 p {
    color: rgb(51, 51, 51);
font-family: Museo Sans Cyrl;
font-size: 16px;
font-weight: 300;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}

.images2 {
    display: flex;
    gap: 19px;
}

.images2 img {
    width: 40px;
    height: 35.16px;
}

.images2 span {
    top: 176px;
    bottom: 12.16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(130, 130, 130);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: center;
}

.in-container {
    margin-left: 150px;
    font-family: "Poppins" , sans-serif;
}

/* ------- */
.podarok {
    width: 1421px; 
    height: 669px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
        gap: 28px;
    margin: 60px auto;
    position: relative;
    }

    .podarok img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    }

    .podarok span {
    color: black; 
    font-family: Museo Sans Cyrl;
    font-size: 36px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    position: absolute; 
    top: 42px; 
    left: 21px; 
    padding: 10px;
    }
    
    .item1, .item2, .item3, .item4, .item5 {
    position: relative; 
    }
 
    .item1 { 
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    }

    .item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    .item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    
    .item4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: rgb(255, 219, 107);
    }

    .item4 image {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 41px;
    top: 4px;
    }

    .item5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: absolute;
    width: 336px;
height: 321px;
left: 0;
top: 0;
    }

    .fone {

    }

    .image5 {
position: absolute;
width: 377px;
height: 377px;
left: 87px;
top: 69px;
    }

/* ---------- */

.box {
    width: 1421px;
    margin: 0 auto;
}

.box h2 {

    display: flex;
    justify-content: center;
    color: rgb(51, 51, 51);
    font-family: Museo Sans Cyrl;
    font-size: 48px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

.card {
    width: 340px;
    height: 554px;
    border: 2px solid #ccc;
}

.card-image {
    width: 338px;
    height: 304px;
    background: rgb(251, 249, 250);
    position: relative;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon {
    position: absolute;
    top: 30px;
    right: 24px;
}

.discount {
    width: 56px;
    height: 56px;
    color: rgb(0, 0, 0);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px dashed rgb(231, 34, 34);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 20px;
}

.top {
    width: 56px;
    height: 56px;
    background: rgba(157, 117, 140, 0.39);
    color: rgb(149, 109, 132);
    font-family: Euclid Circular B;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 20px;
    right: 27px;
    position: absolute;
    text-decoration: underline;
}


.card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.stars {
    display: flex;
    margin-top: 5px;
    justify-content: flex-start;
    width: 100%;
}

.card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-title p {
    color: rgb(51, 51, 51);
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.prices del {
    color: rgb(189, 189, 189);
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
}

.prices p {
    color: rgb(149, 109, 132);
font-family: Museo Sans Cyrl;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}

.card-btn {
    width: 220px;
    height: 65px;
    border-radius: 7px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    background: rgb(149, 109, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
}

.card-btn p {
    color: rgb(255, 255, 255);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.card-btn img {
    position: absolute;
    width: 68px;
    height: 112px;
    right: 5px;
    
 
}
.card-btn a {
    color: rgb(130, 130, 130);
    font-family: Euclid Circular B;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
}

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}